*.suo
*.bsc
*.exe
*.sdf
*.ilk
*.map
*.pdb
*.obj
*.sbr
*.log
*.tlog
Debug/checkerboard.res
Release/checkerboard.res
x64/Debug/checkerboard.res
x64/Release/checkerboard.res
*.suo
checkerboard.VC.opendb
egdb64.dll
engines/dama64.dll
*.exp
engines/dama64.lib
engines/simplech64.dll
engines/simplech64.lib
*.idb
engines/dama.lib
engines/simplech.lib
*.iobj
*.ipdb